<div class="job-id-<%= favorite_job.job.id %>">
  <div class="border border-dark rounded">
    <div class="row">
      <div class="radio-btn col-1">
        <%= radio_button_tag :job_id, favorite_job.job.id %>
      </div>
      <div class="job-details col-10">
        <div class="title">
          <%= link_to job_detail_path(favorite_job.job.id) do %><strong>
            <%= favorite_job.job.title %></strong>
          <% end %>
        </div>
        <div class="row">
          <div class="introduction col-10">
            <%= strip_tags(favorite_job.job.format_desc) %><br>
            <%= link_to 'Read more..', job_detail_path(favorite_job.job.id) %>
          </div>
          <div class="col-6">▼
            <%= favorite_job.job.cities.map(&:name).join(' | ') %>
          </div>
          <div class="salary col-3">
            Salary: <%= favorite_job.job.salary %>
          </div>
          <%= link_to "Remove", unfavorite_job_path(job_id: favorite_job.job.id, page: params[:page] || "1"), method: :delete, remote: true, class: "btn btn-danger", id: "button-remove" %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
