<div class="row justify-content-lg-center">
  <div class="text col-1">Date:</div>
  <select class="form-control col-1">
    <%= @years.each do |year| %>
      <option><%= year %></option>
    <% end %>
  </select>
  <select class="form-control col-1">
    <%= @months.each do |month| %>
      <option><%= month %></option>
    <% end %>
  </select>
  <select class="form-control col-1">
    <%= @days.each do |day| %>
      <option><%= day %></option>
    <% end %>
  </select>
  <h2 class="col-1 tilde">~</h2>
  <select class="form-control col-1">
    <%= @years.each do |year| %>
      <option><%= year %></option>
    <% end %>
  </select>
  <select class="form-control col-1">
    <%= @months.each do |month| %>
      <option><%= month %></option>
    <% end %>
  </select>
  <select class="form-control col-1">
    <%= @days.each do |day| %>
      <option><%= day %></option>
    <% end %>
  </select>
</div>
