<div class="search-bar">
  <div class="search">
    Email: <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </div>
  <div class="city-options">
    City:
    <select class="form-control" id="exampleFormControlSelect1">
        <option>All</option>
        <%= @cities.each do |city| %>
          <option><%= city.name %></option>
        <% end %>
    </select>
  </div>
  <div class="industry-options">
    Industry:
    <select class="form-control" id="exampleFormControlSelect1">
        <option>All</option>
        <%= @industries.each do |industry| %>
          <option><%= industry.name %></option>
        <% end %>
    </select>
  </div>
  <div class="datetime">
    <%= render "datetime" %>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="search-btn col-4">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
    <div class="download-csv-btn col-4">
      <%= link_to('Download CSV', download_csv_path(format: :csv), class: 'btn btn-info')%>
    </div>
  </div>
</div>
