<% provide(:title, 'Venjob') %>
<div class="banner-ground">
	<div class="top-banner">	
		<div class="total-job">Having <%= @total_jobs.count %> jobs for you!</div>
	</div>	
</div>
<div class="container">
	<div class="search-bar"><%= render 'layouts/search_bar' %></div>
	<br>
	<div class="job-list"><%= render 'layouts/show_jobs' %></div>
</div>
<div class="city-banner">City</div>	
<div class="container">
	<div class="row"><%= render 'layouts/show_cities' %></div>
	<div class="all-industry">
		<div class="row-table border border-dark rounded">All Cities</div>
	</div>
</div>

<div class="industry-banner">Industry</div>
<div class="container">
	<div class="row"><%= render 'layouts/show_industries' %></div>
	<div class="all-industry">
		<div class="row-table border border-dark rounded">All Industries</div>
	</div>
</div>

