<% provide(:title, 'Venjob') %>
<div class="banner-ground">
  <div class="top-banner">
    <div class="total-job">Having <%= @total_jobs %> jobs for you!</div>
  </div>
</div>
<div class="container">
  <div class="search-bar">
    <%= render 'layouts/search_bar' %>
  </div>
  <div class="job-list">
    <%= render partial: "layouts/show_job", collection: @jobs, as: :job %>
  </div>

  <div class="city-banner rounded">City</div>
  <div class="row">
    <%= render partial: "layouts/show_city", collection: @jobs_of_cities, as: :city %>
  </div>
  <div class="all-city">
    <%= link_to cities_path do %>
      <div class="row-table border border-dark rounded all-cities">
        <strong>All Cities</strong>
      </div>
    <% end %>
  </div>
  <div class="industry-banner rounded">Industry</div>
  <div class="row">
    <%= render partial: "layouts/show_industry", collection: @jobs_of_industries, as: :industry %>
  </div>
  <div class="all-industry">
    <%= link_to industries_path do %>
      <div class="row-table border border-dark rounded all-industries">
        <strong>All Industries</strong>
      </div>
    <% end %>
  </div>
</div>
