<% if job.cities.present? %>
  <div class="border border-dark rounded">
    <div class="job-details">
      <div class="title">
        <%= link_to job_detail_path(job.id) do %>
          <strong><%= job.title %></strong>
        <% end %>
      </div>
      <div class="row">
        <div class="col-5">▼
          <%= job.cities.map(&:name).join(' | ') %>
        </div>
        <div class="col-5 salary">Salary: <%= job.salary %></div>
        <div class="col-10 introduction">
          <%= strip_tags(job.format_desc) %><br>
          <%= link_to 'Read more..', job_detail_path(job.id) %>
        </div>
      </div>
      <% if signed_in? %>
        <%= render partial: 'users/favorite_form', locals: { job: job } %>
      <% else %>
        <%= render 'users/favorite', job_id: job.id %>
      <% end %>
    </div>
  </div>
  <br>
<% end %>
