<% provide(:title, 'Industry Jobs') %>
<div class="container">
  <div class="search-bar">
    <%= render 'layouts/search_bar' %>
  </div>
  <div class="row total-jobs">
    <div class="col-4">Total: <%= @total_job %> jobs</div>
    <div class="col-4">Result for: <%= @result_for_job %> jobs</div>
  </div>
  <%= render "jobs/pagination" %>
  <div class="job-list">
    <%= render partial: "all_jobs", collection: @jobs_list, as: :job %>
  </div>
  <%= render "jobs/pagination" %>
</div>
