<% provide(:title, 'Industry Jobs') %>
<div class="container">
  <div class="search-bar">
    <%= render 'layouts/search_bar' %>
  </div>
  <div class="total-jobs">
    <div class="total">Total: <strong><%= @result_for_job %></strong> jobs in <strong><%= @industry.name %></strong></div>
  </div>
  <%= render "jobs/pagination" %>
  <div class="job-list">
    <%= render partial: "all_jobs", collection: @jobs_list, as: :job %>
  </div>
  <%= render "jobs/pagination" %>
</div>
