<div class="container">
  <%= render 'layouts/flash' %>
  <div class="details-banner">
    <div class="job-details-banner">
      <div class="job-info">
        <div><strong><%= @job.title %></strong></div>
        <div>
          <%= link_to @job.company_name, company_jobs_path(converted_name: @job.company.converted_name), class: 'company' %>
        </div>
        <div class="breadcrumb">
          <%= link_to "TOP", root_path  %>&ensp;/&ensp;
          <div>
            <% @job.cities.each do |city| %>
              <%= link_to city.name, city_jobs_path(converted_name: city.converted_name) , class: 'location' %>
            <% end %>/&ensp;
          </div>
          <% @job.industries.each do |industry| %>
            <%= link_to industry.name, industry_jobs_path(converted_name: industry.converted_name), class: 'industry' %>
          <% end %>/&ensp;
          <%= @job.title.truncate_words(5) %>
        </div>
        <% if signed_in? && @user.present? %>
          <div class="apply-job">
            <strong>Applied</strong>
          </div>
        <% else %>
          <%= link_to apply_job_path(job_id: @job.id) do %>
            <div class="apply-job">
              <strong>Apply Now</strong>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="job-infomation">
      <h1><%= @job.title %></h1>
      <div class="row info border border-dark">
        <div class="col-6">
          <div class="city">
            <strong>Location:</strong>
            <% @job.cities.each do |city| %>
              <%= link_to city.name, city_jobs_path(converted_name: city.converted_name), class: 'location' %>
            <% end %>
          </div>
          <div class="created-day">
            <strong>Created at</strong>: <%= @job.created_at.strftime('%d/%m/%Y') %>
          </div>
          <div class="industry">
            <strong>Industry:</strong> <%= @job.industries.map(&:name).join(', ') %>
          </div>
        </div>
        <div class="col-6">
          <div class="salary-detail">
            <strong>Salary:</strong> <%= @job.salary %>
          </div>
          <% if @job.experience.present? %>
            <div class="experience">
               <strong>Experience:</strong> <%= @job.experience %>
            </div>
          <% end %>
          <div class="level">
            <strong>Level:</strong> <%= @job.level %>
          </div>
          <div class="expiration-date">
            <strong>Expiration date:</strong> <%= @job.expiration_date %>
          </div>
        </div>
      </div>
    </div>
    <div class="job-description">
      <%= @job.description.html_safe %>
    </div>
  </div>
  <div class="row under-descrip">
    <div class="col-6">
      <% if signed_in? && @user.present? %>
        <div class="btn btn-info btn-lg apply-btn">
          <strong>Applied</strong>
        </div>
      <% else %>
        <%= link_to apply_job_path(job_id: @job.id) do %>
          <div class="btn btn-info btn-lg apply-btn">
            <strong>Apply Now</strong>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to '#' do %>
        <div class="btn btn-danger btn-lg favorite-btn">
          <strong>Favorite</strong>
        </div>
      <% end %>
    </div>
  </div>
</div>
