<div class="container">
  <h1 class="text-center my-page-label">My Page</h1>
  <div class="form-login">
    <div class="row form d-flex justify-content-center">

      <%= form_for(current_user, remote: true) do |f|  %>

        <div class="validation"></div>
        <div class="email-field">
          <div class="col-4-sm">
            <%= f.label :email %>
          </div>
          <div class="col-8-sm">
            <%= f.text_field :email, class: 'input-email' %>
          </div>
        </div>
        <div class="name-field">
          <div class="col-4-sm">
            <%= f.label :name, 'Full Name' %>
          </div>
          <div class="col-8-sm">
            <%= f.text_field :name, class: 'input-name' %>
          </div>
        </div>
        <div class="cv-field">
          <div class="col-4-sm">
            <%= f.label :cv_user, 'My CV' %>
          </div>
          <div class="col-8-sm">
            <%= f.file_field :cv_user, accept: '.doc, .pdf, .xls, .xlsx, .zip',class: 'input-cv' %>
          </div>
        </div>
        <div class="new-password-field">
          <div class="col-4-sm">
            <%= f.label :new_password, 'New Password' %>
          </div>
          <div class="col-8-sm">
            <%= f.password_field :new_password, class: 'input-new-password' %>
          </div>
        </div>
        <div class="password-field">
          <div class="col-4-sm">
            <%= f.label :password, 'Password' %>
          </div>
          <div class="col-8-sm">
            <%= f.password_field :password, class: 'input-password' %>
          </div>
        </div>

        <%= f.submit 'Update', class: 'btn btn-outline-primary btn-lg update-btn' %>
      <% end %>
    </div>
  </div>
</div>

