<div class="container">
  <%= render 'layouts/flash' %>
  <h1 class="text-center my-page-label">My Page</h1>
  <div class="form-login">
    <div class="row form d-flex justify-content-center">
      <%= form_for(current_user) do |f|  %>
        <div class="email-field">
          <div class="col-4-sm">
            <%= f.label :email %>
          </div>
          <div class="col-8-sm">
            <strong><%= current_user.email %></strong>
          </div>
        </div>
        <div class="name-field">
          <div class="col-4-sm">
            <%= f.label :name, 'Full Name' %>
          </div>
          <div class="col-8-sm">
            <strong><%= current_user.name %></strong>
          </div>
        </div>
        <div class="cv-field">
          <div class="col-4-sm">
            <%= f.label :cv_user, 'My CV' %>
          </div>
          <div class="col-8-sm">
            <%= link_to_if current_user.cv_user.present? ,current_user.cv_user.identifier, current_user.cv_user.url, download: current_user.cv_user.identifier do %>
              <div class="cv-none">
                CV hasn't found in your Profile. Upload now!
              </div>
            <% end %>
          </div>
        </div>

        <%= link_to 'Update', my_page_info_path, class: 'btn btn-outline-primary btn-lg update-btn' %>
        <%= link_to 'My Jobs', my_jobs_path, class: 'btn btn-outline-info btn-lg my-jobs-btn' %>
      <% end %>
    </div>
  </div>
</div>

