<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <div class="container-fluid">
      <%= link_to image_tag("logo_venjob.png", alt: "Logo", id: "logo_venjob", width: 120), root_path %>
      <nav>
        <ul class="navbar-nav mr-auto">
          <% if signed_in? %>
            <li><%= link_to "My Page", my_page_path , class: "nav-item nav-link" %></li>
            <li><%= link_to "Log Out", logout_path , class: "nav-item nav-link", method: "delete" %></li>
          <% else %>
            <li><%= link_to "Log In", login_path , class: "nav-item nav-link" %></li>
            <li><%= link_to "Register",    '#', class: "nav-item nav-link" %></li>
          <% end %>
          <li><%= link_to "Favorite",    '#', class: "nav-item nav-link" %></li>
          <li><%= link_to "History", '#', class: "nav-item nav-link" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
