<% if job.cities.present? %>
  <div class="border border-dark rounded">
    <div class="job-details">
      <div class="title"><strong><%= job.title %></strong></div>
      <div><%= job.company_name %></div>
      <div class="salary">💲 Salary: <%= job.salary %></div>
      <div>▼
        <%= job.cities.map(&:name).join(' | ') %>
      </div>
      <div class="row">
        <div class="col-10 introduction">
          <%= job_description(job.description) %><br>
          <%= link_to 'Read more..', '#'%>
        </div>
      </div>
      <button type="button" class="btn btn-primary" id="button-follow">♥ Follow</button>
    </div>
  </div>
  <br>
<% end %>
