<% if job.cities.present? %>
  <div class="border border-dark rounded">
    <div class="job-details">
      <div class="title">
        <%= link_to job_detail_path(job.id) do %><strong>
          <%= job.title %></strong>
        <% end %>
      </div>
      <div><%= job.company_name %></div>
      <div class="salary">Salary: <%= job.salary %></div>
      <div>▼
        <%= job.cities.map(&:name).join(' | ') %>
      </div>
      <div class="row">
        <div class="col-10 introduction">
          <%= strip_tags(job.format_desc) %><br>
          <%= link_to 'Read more..', job_detail_path(job.id) %>
        </div>
      </div>
      <%= link_to follow_job_path(job.id) do %>
        <button type="button" class="btn btn-primary" id="button-follow">♥ Follow</button>
      <% end %>
    </div>
  </div>
  <br>
<% end %>
